# 
.settings/

*.swf
*.air
*.ipa
*.apk

dist/
.temp/
.history/
.rn_temp/
node_modules/
public/photos/
.DS_Store
.idea/**
/yarn-error.log
scacli/node_modules/
scacli/.history/
scacli/public/photos/
scacli/.DS_Store
../.history/
